@font-face {
  font-family: 'Geist_Mono';
  src: url('../../../public/GeistMono-Regular.eot');
  src: url('../../../public/fonts/GeistMono-Regular.woff2') format('woff2'),
       url('../../../public/GeistMono-Regular.woff') format('woff'),
       url('../../../public/GeistMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
